body {
    margin: 0;
    padding: 0;
  
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #000000;
    text-transform: uppercase;
    background-color: transparent;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    font: "Roboto Medium", "Roboto", Arial, sans-serif;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
    vertical-align: middle;
    color: #000000;
    background-color: transparent;
}

.slide-2, .slide-3 {
    display: none;
}

.principles-right li {
    display: inline;
    margin-left: 50px;
}

.visually-hidden {
    display: none;
}

.button {
        width: 240px;
        height: 50px;
        display: inline-block;

        font: "Roboto Medium", "Roboto", Arial, sans-serif;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        vertical-align: middle;
        color: #ffffff;
        background-color: #fb565a;
        border: none;
        border-radius: 4px;
}

.order-apps .button {
    width: 160px;
}

.kontakts .button {
    width: 219px;
}

.contact-us .button {
    width: 260px;
}

.filter-form .button {
    width: 260px;
    color: #000000;
    background-color: #eeeeee;
}

.btn-green {
    background-color: #00ca74;
}

.btn-yellow {
    background-color: #efc84a;
}

.main-header {
    background-color: #eeeeee;
}

.main-navigation {
    font-family: "Roboto Medium", "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    background-color: transparent;
}

/* Динамика логотипа ссылок и кнопок */
.logo:hover ,
.logo:focus 
{
    opacity: 0.8;
}

.logo:active {
    opacity: 0.3;
}

.saite-navigation a,
.basket a {
    color: #000000;
}

.saite-navigation a:hover,
.basket a:hover, 
.saite-navigation a:focus,
.basket a:focus 
{
    color:#fb565a;
}

.saite-navigation a:active,
.basket a:active {
    color: #000000;
    opacity: 0.3;
}

.btn-red:hover , 
.btn-red:focus  
{
    background-color: #e74246;
}

.btn-red:active
{
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
}

.btn-green:hover , 
.btn-green:focus  
{
    background-color: #00bc6c;
}

.btn-green:active
{
    background-color: #00aa62;
    color: rgba(255, 255, 255, 0.3);
}

.btn-yellow:hover , 
.btn-yellow:focus  
{
    background-color: #eab534;
}

.btn-yellow:active
{
    background-color: #e5a722;
    color: rgba(255, 255, 255, 0.3);
}
/***********************************/


.basket img {
    margin-right: 25px;
}

.slider b {
    font-family: "Roboto Medium", "Roboto", Arial, sans-serif;
    font-size: 55px;
    line-height: 55px;
    color: #000000;
    background-color: transparent;
}
.slider p {
    font-family: "Roboto Regular", "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    background-color: transparent;
    text-transform: none;
}

.order-apps h3 {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    background-color: transparent;
}

.order-apps p,
.principles p,
.row2
{
    font-family: "Roboto Regular", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    background-color: transparent;
    text-transform: none;
}

.row1 li {
    font-family: Roboto, Arial, sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 15px;
    color: #000000;
    background-color: transparent;
}

.row1 span {
    font-size: 22.5px;
    line-height: 0px;
    vertical-align: top;
}

.principles-right div {
    display: table;
}

.principles-right ul {
    display: table-row;     
}

.principles-right li {
    display: table-cell;
    padding: 12px;
    width: 97px;
}

.principles h2 {
    font-family: "Roboto Medium", Arial, sans-serif;
    font-size: 45px;
    line-height: 45px;
    color: #000000;
    background-color: transparent;
}

.principles h3 {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    background-color: transparent;
}

.principles-left li {
    list-style-image: url('../img/marker.svg');
}

.nerds-illustr {
    width: 360px;
    height: 208px;
    background-image: url("..//img/nerds-illustration.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #ffffff;
}

.horisont-line{
    height: 0px; 
    width: 100%; 
    border-top: 2px solid #000000; 
    opacity: 0.2;
    padding: 0";
}

.logo1 {
    width: 200px;
    height: 180px;
    background: url("../img/logo-1.png");
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.2;
}
.logo2 {
    width: 200px;
    height: 180px;
    background: url("../img/logo-2.png");
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.2;
}
.logo3 {
    width: 200px;
    height: 180px;
    background: url("../img/logo-3.png");
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.2;
}
.logo4 {
    width: 200px;
    height: 180px;
    background: url("../img/logo-4.png");
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.2;
}

.logo-animation:hover,
.logo-animation:focus 
{
    opacity: 1;
}

.logo-animation:active {
    opacity: 0.1;
}

.line-separator {
    width: 4px;
    height: 180px;
    background: url("../img/vertical-separator.svg");
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.2;
}

.brends li {
    display: inline-block;
}

.kontakts h3 {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    background-color: transparent;
}

.kontakts p {
    font-family: "Roboto Regular", "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #666666;
    background-color: transparent;
    text-transform: none;
}

.footer-social p:nth-of-type(1) {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: #000000;
    background-color: transparent;
    text-transform: none;
}

.footer-social p:nth-of-type(2) {
    font-family: "Roboto Regular", "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #444444;
    background-color: transparent;
    text-transform: none;
}

.vk {
    width: 79px;
    height: 79px;
    background: url("../img/sn-vk-1.png");
}
.vk:hover {
    background: url("../img/sn-vk-2.png");
}
.vk:active {
    background: url("../img/sn-vk-3.png");
}

.fb {
    width: 79px;
    height: 79px;
    background: url("../img/sn-fb-1.png");
}
.fb:hover {
    background: url("../img/sn-fb-2.png");
}
.fb:active {
    background: url("../img/sn-fb-3.png");
}

.ig {
    width: 79px;
    height: 79px;
    background: url("../img/sn-ig-1.png");
}
.ig:hover {
    background: url("../img/sn-ig-2.png");
}
.ig:active {
    background: url("../img/sn-ig-3.png");
}

.social-link li {
    display: inline-block
}

.contact-us h2 {
    font-family: "Roboto Medium", "Roboto", Arial, sans-serif;
    font-size: 45px;
    line-height: 45px;
    color: #000000;
    background-color: transparent;
    text-transform: none;
}

.contact-us label {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    background-color: transparent;
    text-transform: none;
}

.contact-us input,
.contact-us textarea
{
    width: 360px;
    height: 50px;
    border: 2px solid #d7dcde;
    border-radius: 2px;
    font-family: "Roboto Regular", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #444444;
    background-color: transparent;
    text-transform: none;
}
.contact-us textarea
{
    width: 760px;
    height: 118px;
}

.close-contact-us {
    width: 21px;
    height: 21px;
    border: none;
    background: url("../img/close-cross.svg");
    opacity: 0.3;
}
.close-contact-us:hover, 
.close-contact-us:focus 
{
    opacity: 1;
}    
.close-contact-us:active {
    opacity: 0.1;
}    

/**catalog***************************/
/*фильтр*****************************/
.filter-form fieldset {
    border: none;
}

.filter-form legend {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    background-color: transparent;
}

.price-flt legend {
    letter-spacing: 0.1rem;
}

.price-flt input,
.price-flt label 
{
    font-family: "Roboto Regular", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #283136;
}

.price-flt input {
    background-color: #eeeeee;
    border: none;
}

.range-price {
    display: block;
    width: 261px;
    height: 81px;
    background-color: #eeeeee;
}

.range-price input[type=range] {
    width: 200px;
}
.price-flt input[name=price-end] {
    margin-left: -194px;
}

.price-flt label:nth-of-type(2) {
    margin-left: 33px;
}

.price-flt input[type=number] {
    width: 80px;
    height: 38px;
    text-align: center;
    vertical-align: middle;
    margin-left: 5px;
}

.grid-flt .label,
.features-flt .label {
    display: inline;
    font-family: "Roboto Regular", Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #283136;
    text-transform: none;
}

.grid-flt input,
.features-flt input
{
    display: none;
}

.custom-chb {
    position: relative;
    width: 27px;
    height: 23px;
    background: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 center;
    opacity: 0.4;
}

.custom-chb,
.custom-radio,
.label {
    display: inline-block;
    vertical-align: middle;
}

.checkbox:checked + .custom-chb {
    background: url("../img/checkbox-on.svg");
}

.custom-chb:hover,
.custom-radio:hover {
    opacity: 1;
}

/* чет не работает */
.radio:disabled + .label,
.checkbox:disabled + .label 
{
    opacity: 0.1;
}/* чет не работает */

.radio:disabled + .custom-radio,
.checkbox:disabled + .custom-chb 
{
    opacity: 0.1;
}

.custom-radio {
    position: relative;
    width: 25px;
    height: 25px;
    background: url("../img/radio-off.svg");
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.4;
}

.radio:checked + .custom-radio {
    background: url("../img/radio-on.svg");
}

.filter-form .button:hover {
    background-color: #dfdfdf;
}

.filter-form .button:active {
    color: rgba(0, 0, 0, 0.3);
    background-image: url("../img/grey-btn-clic.png");
}
/*****************************фильтр*/
/*сортировка*************************/
.orderby h2,
.orderby ul,
.orderby ul li
{
    display: inline-block;
}
.orderby h2 {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    background-color: transparent;
}

.orderby a {
    font-family: "Roboto Regular", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    background-color: transparent;
    opacity: 0.3;
}

.orderby a:hover {
    opacity: 0.6;
}

.orderby a:active,
.orderby a:focus {
    opacity: 1;
}


    
/*************************сортировка*/
/*каталог****************************/
.catalog-item .catalog-item-title {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    background-color: transparent;
}

.catalog-item .catalog-category {
    font-family: "Roboto Regular", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #666666;
    background-color: transparent;
    text-transform: none;
}

.page-number a {
    font-family: "Roboto Medium", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    background-color: #eeeeee;
  
}


/****************************каталог*/
/* ----- Сеточные стили ----- */
html,
body {
  min-width: 1440px; 
  min-height: 2476px;
}

.main-header {
    margin-bottom: 75px;
  
    /* Временно для сетки */
    box-sizing: border-box;
    min-height: 545px;
    border: 1px solid rgb(0, 255, 21);
    background-color: transparent;
    
}

.top-menu {
    display: flex;
    min-width: 1200px;
    min-height: 132px;
    /* Временно для сетки */
    box-sizing: border-box;
    min-height: 132px;
    background-color: transparent;
    border: 1px solid #b40000;
}
   
.logo {
    width: 166px;
    height: 65px;
    margin-top: 45px;
    margin-left: 137px;
    /* Временно для сетки */
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid blue;
}

.logo img {
    height: 65px;
    width: 160px;
}

.main-navigaion {
    display: flex;
    width: 100%;
    height: 65px;
    margin-top: 45px;
    margin-left: 200px;
    padding-top: 30px;
    /* Временно для сетки */
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid rgb(255, 251, 0);
}

.saite-navigation a {
    margin-right: 42px;
}

.basket {
    margin-right: 137px;
    margin-left: auto;
}



