body {
    margin: 0;
    padding: 0;
  
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    background-color: transparent;
}

a {
    text-decoration: none;
}

.main-navigation {
    font-family: 'Roboto Medium', 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    background-color: transparent;
}

/* Динамика логотипа */
.logo :hover ,.logo :focus {
    opacity: 0.8;
}
.logo :active {
    opacity: 0.3;
}
/***********************************/


/* Динамика меню навигации и корзины */
.saite-navigation {
    list-style: none;
}

.saite-navigation a,
.basket a {
    color: #000000;
}

.saite-navigation a:hover,
.basket a:hover, 
.saite-navigation a:focus,
.basket a:focus 
{
    color:#fb565a;
}

.saite-navigation a:active,
.basket a:active {
    color: #000000;
    opacity: 0.3;
}
/***********************************/

.basket img {
    margin-right: 25px;
}

.slider b {
    font-family: 'Roboto Medium', 'Roboto', Arial, sans-serif;
    font-size: 55px;
    line-height: 55px;
    color: #000000;
    background-color: transparent;
}
.slider p {
    font-family: 'Roboto Regular', 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    background-color: transparent;
}

.btn-slider {
    display: flex;
    width: 240px;
    height: 50px;
    align-self: auto;
}

.btn-slider a {
    font-family: 'Roboto Medium', 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    background-color: #fb565a;
}

