body {
    margin: 0;
    padding: 0;
    min-width: 1440px;
  
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    background-color: transparent;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.flex-row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-for-main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;

    width: 1200px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

ul {
    list-style: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.principles-right li {
    display: inline;
    margin-left: 50px;
}

.button {
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 220px;
    min-height: 50px;
    border: none;
    border-radius: 2px;
    font-family: "Roboto Medium", "Roboto", Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    background-color: #fb565a;
}
.order-apps .button {
    min-width: 140px;
}

.kontakts .button {
    min-width: 200px;
    margin-bottom: 8px;}

.filter-form .button {
    min-width: 260px;
    color: #000000;
    background-color: #eeeeee;
    text-transform: uppercase;
}

.btn-green {
    background-color: #00ca74;
}

.btn-yellow {
    background-color: #efc84a;
}

.main-header {
    background-color: #eeeeee;
    padding-bottom: 0;
    margin-bottom: 80px;
}

.saite-navigation {
    list-style:none;
    padding:0px;
    margin:0px;
}

.saite-navigation li{
    display:inline-block;
    margin:0px;
}

.saite-navigation a,
.basket a {
    display: block;
    font-family: "Roboto Medium", "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    background-color: transparent;
}

/* Динамика логотипа ссылок и кнопок */
.logo:hover ,
.logo:focus {
    opacity: 0.8;
}

.logo:active {
    opacity: 0.3;
}

.saite-navigation a:hover,
.basket a:hover, 
.saite-navigation a:focus,
.basket a:focus {
    color:#fb565a;
}

.saite-navigation a:active,
.basket a:active {
    color: #000000;
    opacity: 0.3;
}

.btn-red:hover , 
.btn-red:focus {
    background-color: #e74246;
}

.btn-red:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
}

.btn-green:hover , 
.btn-green:focus {
    background-color: #00bc6c;
}

.btn-green:active {
    background-color: #00aa62;
    color: rgba(255, 255, 255, 0.3);
}

.btn-yellow:hover , 
.btn-yellow:focus {
    background-color: #eab534;
}

.btn-yellow:active {
    background-color: #e5a722;
    color: rgba(255, 255, 255, 0.3);
}
/***********************************/


.basket img {
    margin-right: 25px;
}

.slider-list h3 {
    font-family: "Roboto Medium", "Roboto", Arial, sans-serif;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: #000000;
    background-color: transparent;
    text-transform: none;
}
.slider-list p {
    font-family: "Roboto Regular", "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    background-color: transparent;
    text-transform: none;
}

.order-apps h3 {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    background-color: transparent;
}

.order-apps p,
.principles p,
.principles-left li,
.row2 {
    font-family: "Roboto Regular", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    background-color: transparent;
    text-transform: none;
}

.row1 li {
    font-family: Roboto, Arial, sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 17px;
    color: #000000;
    background-color: transparent;
}

.row1 span {
    font-size: 26px;
    line-height: 0px;
    vertical-align: top;
}

.principles-right div {
    display: table;
}

.principles-right ul {
    display: table-row; 
    padding: 0;
    margin: 0;    
}

.principles-right li {
    display: table-cell;
    padding: 0;
    width: 121px;
}

.principles h2 {
    font-family: "Roboto Medium", Arial, sans-serif;
    font-size: 45px;
    line-height: 45px;
    font-weight: 400;
    color: #000000;
    background-color: transparent;
    text-transform: none;
}

.principles h3 {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    background-color: transparent;
}

.principles-left li {
    list-style-image: url('../img/marker.svg');
}

.nerds-illustr {
    width: 360px;
    height: 208px;
    background-image: url("..//img/nerds-illustration.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #ffffff;
}

.logo-link img {
    width: 200px;
}    

.logo-link {
    opacity: 0.2;
}

.logo-link:active > img {
    opacity: 0.1;
}

.logo-link:hover,
.logo-link:focus {
    opacity: 1;
}

.line-separator {
    width: 4px;
    height: 100px;
    margin-bottom: 48px;
    background: url("../img/vertical-separator.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.brends li {
    display: inline-block;
}

.kontakts h3 {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    background-color: transparent;
}

.kontakts p {
    font-family: "Roboto Regular", "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #666666;
    background-color: transparent;
    text-transform: none;
}

.footer-social p:nth-of-type(1) {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: #000000;
    background-color: transparent;
    text-transform: none;
}

.footer-social p:nth-of-type(2) {
    font-family: "Roboto Regular", "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #444444;
    background-color: transparent;
    text-transform: none;
}

/*Крутотень на ссылки соцалок********/
.social-link {
    width: 79px;
    height: 79px;
}

.social-link {
    position: relative;
}
  
.social-link img:nth-child(2),
.social-link img:last-child {
    position: absolute;
    top: 0px;
    left: 0;
}

.social-link img:last-child {
    opacity: 0;
    visibility: hidden;
}

.social-link:hover img:first-child,
.social-link a:focus img:first-child,
.social-link img:nth-child(2) {
    opacity: 0;
    visibility: hidden;
    transition: visibility 350ms ease, opacity 350ms ease, transform 350ms ease ;
}

.social-link:hover img:nth-child(2),
.social-link a:focus img:nth-child(2) {
    opacity: 1;
    visibility: visible; 
    transform: rotate(360deg);
}

.social-link:active img:first-child,
.social-link img:last-child {
    opacity: 0;
    visibility: hidden;
    transition: visibility 350ms ease, opacity 350ms ease;
}

.social-link:active img:last-child {
    opacity: 1;
    visibility: visible; 
}
/********Крутотень на ссылки соцалок*/

/**catalog***************************/
/*фильтр*****************************/
.filter-form fieldset {
    border: none;
}

.filter-form legend {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    background-color: transparent;
}

/* 
.price-flt legend {
    letter-spacing: 0.6px;
}

.price-flt input,
.price-flt label {
    font-family: "Roboto Regular", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #283136;
}

.price-flt input {
    background-color: #eeeeee;
    border: none;
}

.range-price {
    display: block;
    width: 261px;
    height: 81px;
    background-color: #eeeeee;
}

.range-price input[type=range] {
    width: 200px;
}
.price-flt input[name=price-end] {
    margin-left: -194px;
}

.price-flt label:nth-of-type(2) {
    margin-left: 33px;
}

.price-flt input[type=number] {
    width: 80px;
    height: 38px;
    text-align: center;
    vertical-align: middle;
    margin-left: 5px;
} */

.grid-flt .label,
.features-flt .label {
    display: inline;
    font-family: "Roboto Regular", Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #283136;
    text-transform: none;
}

.grid-flt input,
.features-flt input {
    display: none;
}

.custom-chb {
    position: relative;
    width: 27px;
    height: 23px;
    background: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 center;
    opacity: 0.4;
}

.custom-chb,
.custom-radio,
.label {
    display: inline-block;
    vertical-align: middle;
}

.checkbox:checked + .custom-chb {
    background: url("../img/checkbox-on.svg");
}

.custom-chb:hover,
.custom-radio:hover {
    opacity: 1;
}

/* чет не работает */
.radio:disabled + .label,
.checkbox:disabled + .label {
    opacity: 0.1;
}/* чет не работает */

.radio:disabled + .custom-radio,
.checkbox:disabled + .custom-chb {
    opacity: 0.1;
}

.custom-radio {
    position: relative;
    width: 25px;
    height: 25px;
    background: url("../img/radio-off.svg");
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.4;
}

.radio:checked + .custom-radio {
    background: url("../img/radio-on.svg");
}

.filter-form .button:hover {
    background-color: #dfdfdf;
}

.filter-form .button:active {
    color: rgba(0, 0, 0, 0.3);
    background-image: url("../img/grey-btn-clic.png");
}
/*****************************фильтр*/
/*сортировка*************************/
.orderby h2,
.orderby ul,
.orderby ul li {
    display: inline-block;
}
.orderby h2 {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    background-color: transparent;
}

.orderby a {
    font-family: "Roboto Regular", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    background-color: transparent;
    opacity: 0.3;
}

.orderby a:hover {
    opacity: 0.6;
}

.orderby a:active,
.orderby a:focus {
    opacity: 1;
}


    
/*************************сортировка*/
/*каталог****************************/
.page2 {
    display: inline-block;
    width: 100%;
    font-family: "Roboto Medium", Arial, sans-serif;
    font-size: 55px;
    line-height: 55px;
    font-weight: normal;
    text-transform: none;
    text-align: center;
    color: #000000;
    background-color: transparent;
    margin: 0;
    padding: 0;
    margin-top: 80px;
    margin-bottom: 105px;
}
    
.catalog-item .catalog-item-title {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    background-color: transparent;
}

.catalog-item .catalog-category {
    font-family: "Roboto Regular", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #666666;
    background-color: transparent;
    text-transform: none;
}

.page-number a {
    font-family: "Roboto Medium", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    background-color: #eeeeee;
  
}


/****************************каталог*/

/* ----- Сеточные стили ----- */
/******************************/
.top-menu {
    display: flex;
    min-width: 1200px;
    /*min-height: 113px;*/
}
   
.logo {
    width: 166px;
    height: 65px;
    margin-top: 49px;
    margin-left: 140px;
}

.logo img {
    height: 65px;
    width: 160px;
}

.main-navigaion {
    display: flex;
    width: auto;
    margin-top: 45px;
    margin-left: 196px;
    margin-bottom: 5px;
    padding-top: 30px;
    flex-wrap: wrap;
}

.saite-navigation a {
    margin-right: 42px;
}

.basket {
    margin-left: 207px;
}

/******************************/
.slider {
    position: relative;
}  

.slider-controls {
    position: absolute;
    left: 50%;
    bottom: 104px;
    z-index: 100;
    width: 160px;
    height: 18px;
    text-align: center;
    font-size: 0;
    transform: translateX(-50%);
}
  
.slider-controls label {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}
  
.slider-controls label::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    width: 18px;
    height: 18px;
    background: #ffffff;
    border-radius: 50%;
}
  
.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
  
.slider-item {
    display: none;
    padding: 78px 0 80px 0;
}
  
.slider-item:nth-child(1) {
    background-image: url("../img/slide1-8bit.png");
    background-repeat: no-repeat;
    background-position: 93% 18px;
}
  
.slider-item:nth-child(2) {
    background-image: url("../img/slide2-8bit.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
}
  
.slider-item:nth-child(3) {
    background-image: url("../img/slide3-8bit.png");
    background-repeat: no-repeat;
    background-position: 100% 20px;
}
  
#advantages1:checked ~ .slider-list .slider-item:nth-child(1) {
    display: block;
}
  
#advantages2:checked ~ .slider-list .slider-item:nth-child(2) {
    display: block;
}
  
#advantages3:checked ~ .slider-list .slider-item:nth-child(3) {
    display: block;
}
  
#advantages1:checked ~ .slider-controls .slider-controls-item1::before,
#advantages2:checked ~ .slider-controls .slider-controls-item2::before,
#advantages3:checked ~ .slider-controls .slider-controls-item3::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 4px;
    height: 4px;
    margin: -4px;
    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}
  
.slider-item h3 {
    max-width: 520px;
    margin: 0;
    margin-bottom: 27px;
}
  
.slider-item p {
    max-width: 420px;
    margin: 0;
    margin-bottom: 40px;
}

/******************************/
.order-apps {
    min-width: 1200px;
    margin-bottom: 80px;
}

.order-apps ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
}

.block {
    display: inline-block;
    width: 300px;
    margin-right: 100px;
}

.order-apps img {
    width: 100%;
    margin-bottom: 19px;
}

.order-apps h3 {
    margin: 0;
    margin-bottom: 15px;
}

.order-apps p {
    max-width: 280px;
    margin: 0;
    margin-bottom: 35px;
}

/******************************/
.principles {
    display: flex;
    min-width: 1160px;
    border-top: 2px solid #eeeeee;
    padding-top: 40px;
    margin-bottom: 49px;
}

.principles-left, .principles-right {
    display: inline-block;
}

.principles-left {
    max-width: 700px;
    padding-top: 34px;
}

.principles-left h2,
.principles-left p,
.principles h3, 
.principles-left ul {
    margin: 0;
    padding: 0;
}

.principles-left h2 {
    margin-bottom: 33px;
}

.principles-left p {
    width: 650px;
    margin-bottom: 40px;
}

.principles-left h3 {
    margin-bottom: 27px;
} 

.principles-left ul {
    padding-left: 35px;
}

.principles-left li {
    margin: 24px 0;
}

.principles-right {
    max-width: 360px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.nerds-illustr {
    margin-bottom: 37px;
}

.principles-right h3 {
    margin-bottom: 55px;
}

.row2 li {
    padding-top: 26px;
    line-height: 18px;
}
/******************************/
.brends {
    min-width: 1160px;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
    
}

.brends ul {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    min-height: 180px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
/******************************/
.kontakts {
    width: 100%;
    height: 415px;
    margin-top: 80px;
    overflow:hidden;
	position:relative;
}

.kontakts img{
	position:absolute;
	top:-153px;
    left:0;
    z-index: -1;
}

.kontakts-adres {
    width: 270px;
    position: absolute;
    top: 53px;
    left: 140px;
    background-color: #ffffff;
    padding: 31px 0px 40px 49px;
}

.kontakts p,
.kontakts h3,
.social-network ul {
    margin: 0;
    padding: 0;
}

.kontakts h3 {
    margin-top: 18px;
    margin-bottom: 23px;
}

.kontakts p {
    margin-bottom: 38px;
}
/******************************/
.footer-social {
    width: 100%;
    min-height: 215px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.social-network li {
    display: inline-block;
    margin-right: 8px;
}

.social-network {
    margin-left: 140px;
    margin-top: 10px;
}

.discounts {
    margin-left: 130px;
}

.discounts p {
    margin: 0;
    padding: 0;
}

.footer-social p:nth-of-type(2) {
    margin-top: 10px;
}
/******************************/
.modal {
    position: fixed;
    box-shadow: 0px 20px 50px 2px #595a5a;
}

.form-contact p {
    padding: 0;
    margin: 0;
}

.form-contact {
    top: 125px;
    left: 50%;
    width: 760px;
    margin-left: -25%;
    padding-left: 98px;
    padding-right: 100px;
    padding-top: 68px;
    padding-bottom: 80px;
    background-color: #ffffff;
}

.close-contact-us {
    width: 21px;
    height: 21px;
    border: none;
    background: url("../img/close-cross.svg");
    opacity: 0.3;
    position: absolute;
    right: 90px;
    top: 77px;
}

.close-contact-us:hover, 
.close-contact-us:focus {
    opacity: 1;
}    
.close-contact-us:active {
    opacity: 0.1;
}    

.form-contact h2 {
    font-family: "Roboto Medium", Arial, sans-serif;
    font-size: 45px;
    line-height: 45px;
    text-transform: none;
    margin: 0;
    padding: 0;
    margin-bottom: 37px;
}


.contact-us label {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    background-color: transparent;
    text-transform: none;
    padding: 0;
    margin: 0;
}

.contact-us input,
.contact-us textarea {
    width: 360px;
    height: 50px;
    border: 2px solid #d7dcde;
    border-radius: 2px;
    font-family: "Roboto Regular", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #444444;
    background-color: transparent;
    text-transform: none;
    padding: 12px;
    margin: 0;
    margin-top: 7px;
    box-sizing: border-box;
}

.contact-us textarea {
    width: 100%;
    height: 118px;
}

.flex-row-between p:nth-of-type(3) {
    margin-top: 32px;
}

.contact-us .button {
    min-width: 260px;
    margin-top: 40px;
}



/******************************/
.title-text h1 {
    font-family: "Roboto Medium", Arial, sans-serif;
    font-size: 55px;
    line-height: 55px;
    font-weight: 400px;
    text-transform: none;
    text-align: center;
}

.inner-page {
    margin-bottom: 40px;
}

.filters {
    width: 260px;
    padding: 0;
    padding-left: 20px;
    padding-top: 16px;
}

/*Стоимость**********************/
.price-flt {
    margin: 0;
    padding: 0;
    margin-bottom: 56px;
}

.price-flt legend {
    letter-spacing: 0.6px;
}
  
.range-filter {
    margin-top: 47px;
}
  
.range-controls {
    position: relative;
    height: 41px;
    margin-bottom: 17px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
}
  
.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}
  
.range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
}
  
.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}
  
.range-controls .toggle-min {
    left: 20px;
}
  
.range-controls .toggle-max {
    left: 160px;
}
  
.price-controls {
    font-size: 0;
}
  
.price-controls label {
    display: inline-block;
    width: 50%;
    font-size: 16px;
    text-transform: uppercase;
}
  
.price-controls input {
    width: 60px;
    padding: 8px 10px;
    margin-left: 10px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}
  
.max-price {
    text-align: right;
}
/**********************Стоимость*/
/*Сетка**************************/
.grid-flt {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}

.grid-flt legend {
    margin-bottom: 12px;
}
.grid-flt label {
    display: block;
    margin-bottom: 15px; 
}

.label {
    margin-left: 5px;
}
/**************************Сетка*/

/*Особенности********************/
.features-flt {
    padding: 0;
    margin: 0;
    margin-bottom: 32px;
}

.features-flt legend {
    margin-bottom: 12px;
}

.features-flt label {
    display: block;
    margin-bottom: 16px;
}

/********************Особенности*/

.catalog-group {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-left: auto;
    width: 800px;
}

.orderby {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;

    margin-left: auto;
    width: 800px;
    padding: 17px 20px;
}

.orderby h2,
.orderby ul,
.orderby li {
    margin: 0;
    padding: 0;
}

.orderby ul:first-of-type {
    margin-left: auto;
}

.orderby ul:first-of-type li {
    margin-left: 22px;
}

.orderby ul:last-of-type {
    margin-left: 33px;
}

.orderby ul:last-of-type li {
    margin-left: 15px;
}


.catalog-box {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: auto;
    width: 800px;
    padding: 0 20px;
}

.catalog-list {
    margin: 0;
    padding: 0;
}

.catalog-item {
    width: 360px;
    position: relative;
    overflow: hidden;
}

.catalog-item-image{
    margin: 35px 0;
}
.catalog-item-image>img {
    width: 100%;
    opacity: 0.12;
    margin-bottom: -7px;
}

.catalog-item-image>img:hover {
    opacity: 1;
}

.catalog-item-image>a>img {
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.catalog-item h3 {
    display: block;
    width: 100%;
    height: 231px;
    box-sizing: border-box;
    margin: 0;
    padding: 25px;
    background-color: #eeeeee;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: -231px;
    /* bottom: 40px; */
}

.catalog-item-title,
.catalog-category {
    display: block;
}    

.catalog-item-title {
    margin-bottom: 10px;
}

.catalog-category {
    margin-bottom: 50px;
}    

.catalog-item-price a {
    min-width: 180px;  
    background-color: #fb565a;  
}

.catalog-item-price a:hover,
.catalog-item-price a:focus {
    background-color: #e74246;  
}

.catalog-item-price a:active {
    background-color: #d7373b;  
}

.catalog-item-image:hover ~ 
.catalog-item h3
{
    bottom: 40px;
}



    /*Временно для сетки 
    box-sizing: border-box;
    background-color: rgba(45, 255, 237, 0.2);
    */



